html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

.sortable.list {
    min-height: 35px;
}

.step-labels ul {
    padding: 0;
    list-style-type: none;
}

.step-labels ul li {
    display: inline-block;
    margin-right: 20px;
}

.step-labels ul li.active .label-text {
    color: #00acac;
}

.step h3 {
    text-align: center;
}

.equipment-table table{
    width: 100%;
}
.equipment-table>tbody>tr>td {
    border: 1px solid #002a80 !important;
    padding: 3px 3px !important;
}
.equipment-table>thead>tr>th {
    border: 1px solid #002a80 !important;
    padding: 3px 3px !important;
    text-align: center;
}

.btn.btn-success, .btn.btn-primary {
    background: #e69900 !important;
    border-color: #c48300 !important;
}

.form-control[disabled] {
    opacity: 1 !important;
}

p, td {
    color: #333 !important;
}

@media screen and (max-width: 520px){
    .btn-block-sm {
        display: block;
        width: 100%;
    }
    .btn.btn-xs-sm {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
    }
    .hidden-sm {
        display: none;
    }
    .visible-sm-xs {
        display: block;
    }
    .margin-sm-5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .sm-flex-box {
        display: flex;
        flex-direction: column-reverse;
    }
    .modal-body, .modal-footer {
        width: 100vw !important;
    }
}

@media screen and (min-width: 520px){
    .pull-right-md-only {
        float: right !important;
    }
    .visible-sm-xs {
        display: none;
    }
    .md-margin-top {
        margin-top: -27px;
    }
}
